*{
    max-width: 100%;
    padding: 0;
    margin: 0;
    -webkit-appearance:  none;
    -moz-appearance:  none;
    appearance:  none;
}
#nameIntro{
    font-size: 7vmax;
    font-weight: bold;   
}
.custom-nav .navbar{
    background: #65000b;
    width: 100%;
}
.custom-nav .navbar-brand{
    margin-left: 5%;
}
#navbarNavAltMarkup{
    margin-right: 5rem;
}
.logo{
    height: 40px;
    border-radius: 50%;
}

.row{
    margin: 0 !important;
}
.title{
    color: #65000b;
    text-align: center;
    margin-top: 10rem;
}
.custom-card{
    box-shadow: 1px 2px 5px rgb(58, 3, 3);
    border-radius: 12px;
    animation-delay: 5s;
    height: 500px;
    background-color: rgb(248, 248, 248);
}
.custom-card img{
    width: 100px;
    display: block;
    margin: auto;
}
.custom-card-1{
    box-shadow: 1px 2px 10px 0px rgb(58 3 3);
    border-radius: 12px;
}
.btn-1{
    padding: 8px 20px;
    background: #65000b;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}
.small{
    font-size: 20px;
}

footer i{
    color: #65000b;
    transition: all .4s;
}
footer i:hover{
    color:  #af002a;
}
.space{
    margin-bottom: 15rem;
}
.carousel-item img{
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    max-height: 750px;
    max-width: 350px;
}

p#home, p#about, p#projects{
    margin-top: 3rem;
    color: whitesmoke;
}